<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-developer-uikit-project.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F7CB9F828B5013200C5D2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7CBA1128B5013300C5D2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7CBA1B28B5013300C5D2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
